{{#with this}}
    <a href="/home/{{id}}">
    <div class="card">
        <h2>{{nome}}</h2>
        <p><span>Preço:</span> R${{preco}}</p>
        <p><span>Descrição:</span> {{descricao}} </p>
    </div>
    </a>
{{/with}}