<div class="produto">
{{#each produto}}
    <h2>{{this.nome}}</h2>
    <p><span>Preço:</span> R${{this.preco}}</p>
    <p><span>Descrição:</span> {{this.descricao}} </p>
    <a href="/home">Voltar</a>
{{/each}}
</div>